* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar{
    background-color: #4e4e4e;
}


.ul-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    list-style: none;
    border: none;
    
}

img{
    opacity: 0.7;
    height: 100vh;
    width: 100%;
}




/* 
@media screen and (max-width: 768px) {
    .add-imc,
    .imclist {
        max-width: 90%; 
    }

    h1 {
        font-size: 24px;
    }
} */
